* {
    text-size-adjust: none;
    -webki-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -moz-text-size-adjust: none;
}
form >* {
  color: black;
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 16px;
}
form table {
  width: 100%;
  margin: 0;
  background-color: #E0E0E0;
}
form table th {
  background-color: black;
  color: white;
  width: 20%;
}
form table td {
  background-color: white;
}
form table tr:nth-child(odd) td {
  background-color: #F0F0F0;
}
form input, form select, form textarea {
  margin: 0;
  border: 0;
}
form input[type="button"] {
  padding: 4px;
  margin: 2px 4px 2px 0;
  border: 1px darkgray solid;
}
form textarea {
  border: 1px darkgray solid;
  width: 100%;
  height: 240px;
}

